###> jcollis/Timer-I-Hardly-Know-Her ###

##### Folders #####
build/
dist/
node_modules/
vendor/
var/
.tmp/

# IDE's
.vscode/
.idea/


##### Files #####
ignore.*
*.ignore.*

# Environment variables and secret keys
.env
.env.test
*.pem

###< jcollis/Timer-I-Hardly-Know-Her ###
